<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Weakly Typed - The Online Home of Arfon Smith</title>
  <link href='styles.css' rel='stylesheet' type='text/css' />
</head>

<body>
  <div id="centre">
    <h1>Hello, I'm Arfon Smith.</h1>
    <p>I work at GitHub and am interested in all things <a href="http://blog.zooniverse.org/2013/08/13/zooniverse-github-and-the-future" target="_blank">science/research/online</a>. In prior incarnations of myself I co-founded the <a href="http://www.zooniverse.org" target="_blank">Zooniverse</a>, once <a href="/thesis">wrote a thesis</a> about dust and have been known to publish the <a href="http://arxiv.org/find/all/1/all:+arfon/0/1/0/all/0/1" target="_blank">odd paper</a>.</p>

    <h3>Contact</h3>
    <p>If you need to contact me then hit me up on <script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",l=x.length;for(i=l-1;i>=0;i--) {try{o+=x.c" +
"harAt(i);}catch(e){}}return o;}f(\")\\\"function f(x,y){var i,o=\\\"\\\\\\\""+
"\\\\,l=x.length;for(i=0;i<l;i++){if(i>(63+y))y*=2;y%=127;o+=String.fromChar" +
"Code(x.charCodeAt(i)^(y++));}return o;}f(\\\"\\\\[/\\\\\\\\\\\"\\\\7.!+2i?;" +
"#?)! grm3s<'31e\\\\\\\\005x6=42+\\\\\\\\017[\\\\\\\\003\\\\\\\\021\\\\\\\\0" +
"02\\\\\\\\n\\\\\\\\010'\\\\\\\\017\\\\\\\\000\\\\\\\\036\\\\\\\\003\\\\\\\\" +
"031\\\\\\\\017@\\\\\\\\014\\\\\\\\037\\\\\\\\034.QT\\\\\\\\001\\\\\\\\037\\" +
"\\\\\\003\\\\\\\\024\\\\\\\\034G'^!\\\\\\\\\\\\\\\\>cqbjhGo`~cyo l\\\\\\\\1" +
"77|.<u+4>#)!\\\"\\\\,63)\\\"(f};)lo,0(rtsbus.o nruter};)i(tArahc.x=+o{)--i;" +
"0=>i;1-l=i(rof}}{)e(hctac};l=+l;x=+x{yrt{)99=!)31/l(tAedoCrahc.x(elihw;lo=l" +
",htgnel.x=lo,\\\"\\\"=o,i rav{)x(f noitcnuf\")"                              ;
while(x=eval(x));
//-->
//]]>
</script>


     or find me <a href="http://twitter.com/arfon" target="_blank">on Twitter</a> &amp; <a href="http://github.com/arfon">GitHub</a>.</p>

    <% if @tweets %>
    <h3>Recently from the internets <span class="dialog">(presumably some kind of <a href="https://dev.twitter.com/blog/changes-coming-to-twitter-api" target="_blank">massive violation</a> of the Twitter API)</span></h3>
    <ul>
      <% @tweets.each do |tweet| %>
        <li><%= tweet.auto_linked_text %> <a href="<%= tweet.url %>" target="_blank">&raquo;</a></li>
      <% end %>
    </ul>
    <% end %>

    <h3>Musings</h3>
    <ul>
      <% @posts.each do |post| %>
        <li><a href="/<%= post.raw_title.downcase %>"><%= post.title %></a> <span class="posted">(<%= post.formatted_posted_at %>)</span></li>
      <% end %>
    </ul>
  </div>
  <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
  </script>
  <script type="text/javascript">
  _uacct = "UA-1224199-4";
  urchinTracker();
  </script>
</body>
</html>
