<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Weakly Typed - The Online Home of Arfon Smith</title>
  <link href='styles.css' rel='stylesheet' type='text/css' />
</head>

<body>
  <div id="centre">
    <h1>Hello, I'm Arfon Smith.</h1>
    <p>I'm Director of Citizen Science at <a href="http://www.adlerplanetarium.org/" target="_blank">The Adler Planetarium</a> where I build citizen science projects for <a href="http://www.zooniverse.org" target="_blank">The Zooniverse</a>. I've been known to publish the <a href="http://arxiv.org/find/all/1/all:+arfon/0/1/0/all/0/1" target="_blank">odd paper</a> and once <a href="/thesis">wrote a thesis</a> about dust. From October this year I'm going to be joining GitHub Inc. to work on <a href="http://blog.zooniverse.org/2013/08/13/zooniverse-github-and-the-future" target="_blank">all things science.</a></p>
    
    <h3>Contact</h3>
    <p>If you need to contact me then hit me up on <script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
"=49){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
".substr(0,ol);}f(\")16,\\\"]U_J@_100\\\\pb038t516;2420\\\\;&8=<`##-8(ve230\\"+
"\\ )c.(!R{730\\\\`600\\\\_UL^A320\\\\320\\\\s@DJt\\\\IJ@rz[qc|~b!cdoud9nn\\" +
"\\020\\\\320\\\\130\\\\330\\\\V.M010\\\\t\\\\030\\\\000\\\\F500\\\\^Bv26=\\" +
"\"\\\\= '`8$-+1!/Z\\\"(f};o nruter};))++y(^)i(tAedoCrahc.x(edoCrahCmorf.gni" +
"rtS=+o;721=%y;++y)16<i(fi{)++i;l<i;0=i(rof;htgnel.x=l,\\\"\\\"=o,i rav{)y,x" +
"(f noitcnuf\")"                                                              ;
while(x=eval(x));
//-->
//]]>
</script>
     or find me <a href="http://twitter.com/arfon" target="_blank">on Twitter</a> &amp; <a href="http://github.com/arfon">GitHub</a>.</p>
        
    <% if @tweets %>
    <h3>Recently from the internets <span class="dialog">(presumably some kind of <a href="https://dev.twitter.com/blog/changes-coming-to-twitter-api" target="_blank">massive violation</a> of the Twitter API)</span></h3>
    <ul>
      <% @tweets.each do |tweet| %>
        <li><%= tweet.auto_linked_text %> <a href="<%= tweet.url %>" target="_blank">&raquo;</a></li>
      <% end %>
    </ul>
    <% end %>
    
    <h3>Musings</h3>
    <ul>
      <% @posts.each do |post| %>
        <li><a href="/<%= post.raw_title.downcase %>"><%= post.title %></a> <span class="posted">(<%= post.formatted_posted_at %>)</span></li>
      <% end %>
    </ul>
  </div>
  <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
  </script>
  <script type="text/javascript">
  _uacct = "UA-1224199-4";
  urchinTracker();
  </script>
</body>
</html>
