<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Weakly Typed - The Online Home of Arfon Smith</title>
  <link href='styles.css' rel='stylesheet' type='text/css' />
</head>

<body>
  <div id="centre">
    <h1>Hello, I'm Arfon Smith.</h1>
    <p>I work at <a href="http://www.physics.ox.ac.uk" title="University of Oxford Physics" target="_blank">The University of Oxford</a> building citizen science projects for the <a href="http://www.zooniverse.org" target="_blank">Zooniverse</a>.</p>
    
    <br />    
    
    <h3>Contact</h3>
    <p>If you need to contact me then you can email me on <script type="text/javascript">
    //<![CDATA[
    <!--
    var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
    "x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
    " r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!84{)rt{y+xx=l;=+;" +
    "lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
    "\"(3),1\\\"\\\\HB_LJW22\\\\0]\\\\7M02\\\\\\\\35\\\\01\\\\00\\\\\\\\tC\\\\\\" +
    "\\30\\\\00\\\\03\\\\\\\\14\\\\06\\\\03\\\\\\\\16\\\\00\\\\01\\\\\\\\\\\\n3\\"+
    "\\01\\\\\\\\31\\\\0\\\\\\\\\\\\\\\"7\\\\01\\\\\\\\17\\\\09\\\\<,yb06\\\\07\\"+
    "\\174$02\\\\\\\\?t0;n=\\\\\\\\1l02\\\\\\\\.q=&3!gf30\\\\0$\\\\.0ZnOMMYWSXWu" +
    "L\\\\Z\\\\\\\\T\\\\QC25\\\\0A\\\\@YKBnD\\\\\\\\3{03\\\\\\\\ACJQ01\\\\0A\\\\" +
    "<#r57w17\\\\\\\\qmae`;w}e|al\\\\i(\\\"}fo;n uret}r);+)y+^(i)t(eAodrCha.c(xd" +
    "eCoarChomfrg.intr=So+7;12%={y+)i+l;i<0;i=r(foh;gten.l=x,l\\\"\\\\\\\"\\\\o=" +
    "i,r va){,y(x fontincfu)\\\"\")"                                              ;
    while(x=eval(x));
    //-->
    //]]>
    </script>
     or find me <a href="http://twitter.com/arfon" target="_blank">on Twitter</a>.</p>
    
    <br />
    
    <% if @tweets %>
      <h3>Recently from the internets</h3>
      <ul>
        <% @tweets.each do |tweet| %>
          <li><%= tweet.text %> <a href="<%= tweet.url %>" target="_blank">&raquo;</a></li>
        <% end %>
      </ul>
    <% end %>
    <br />
    
    <h3>Musings</h3>
    <p>
      <ul>
        <% @posts.each do |post| %>
          <li><a href="/<%= post.raw_title.downcase %>"><%= post.title %></a> <span class="posted">(<%= post.formatted_posted_at %>)</span></li>
        <% end %>
      </ul>
    </p>
  </div>
  <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
  </script>
  <script type="text/javascript">
  _uacct = "UA-1224199-4";
  urchinTracker();
  </script>
</body>
</html>
